* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bol-blue: #47ADF1;
    --bol-check: #64C0A9;
    --bol-green: #66C1AA;
    --bol-purple: #9C72E4;
    --bol-yellow: #B0C926;
    --bol-fucsia: #D863A1;
    --bol-orange: #F29E33;
    --bol-bg: #F6F8F9;
}
header{
    background-color: white;
}


body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--bol-bg);

}
#logo{
    margin: 0.5rem;
    vertical-align: middle;
}

.title_logo{
    font-size: 2.5rem;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}
main{
    width: 100%;
    margin: auto;
    padding-top: 5rem;
}
.sfondo_bianco{
    width: 50%;
    height: 90%;
    border-radius: 3%;
    background-color: white;
    margin: auto;
}
.button_container{
    border-bottom: 2px solid var(--bol-bg);
    padding-bottom: 0.5rem;
}
#task{
    background-color:var(--bol-blue);
    padding: 0.25rem;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 10%;
    margin-left: 3rem;
    margin-top: 0.5rem;   
    

}
#section_button{
    background-color: white;
    padding: 0.25rem;
    border: 1px solid lightgray;
    border-radius: 10%;
    
}
.portion{
    padding-top: 1.5rem;
}

.margin{
    margin-left: 3rem;
}
h3{
    padding-left: 1rem;
}
.blocco{
    padding: 0.4rem;
}
.icona{
    font-weight: bold;
    border-radius: 50%;
    padding: 0.20rem;
    margin: 0.5rem;
    border: 1px solid;
    
}
.check{
    border-color: var(--bol-check);
    color: var(--bol-check);
}
.cross{
    border-color: red;
    color: red;
}
    
.news{
    font-size: 20px;
}
.mark{ 
    padding: 0.35rem 0.75rem;
    border-radius: 1rem;
    color: white;
}
.blue{
    border: 1px solid var(--bol-blue);
    background-color: var(--bol-blue);
}
.purple{
    border: 1px solid var(--bol-purple);
    background-color: var(--bol-purple);
}
.green{
    border: 1px solid var(--bol-green);
    background-color: var(--bol-green);
}
.orange{
    border: 1px solid var(--bol-orange);
    background-color: var(--bol-orange);
}
.fucsia{
    border: 1px solid var(--bol-fucsia);
    background-color: var(--bol-fucsia);
}
.yellow{
    border: 1px solid var(--bol-yellow);
    background-color: var(--bol-yellow);
}

